<h1>About Me</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>A bit about myself</h2>
      <p>
      I am an enthusiastic software engineer with a positive attitude and over 20 years of experience in delivering reliable solutions to complex problems.
    </p>
      <p>
        I have a proven track record of liaising with stakeholders, producing detailed architecture designs, leading development teams and producing efficient reliable code.
      </p>
      <p>
        I’m a strong advocate of thorough Unit Testing with X-Unit or N-Unit and Component Testing with Spec-Flow which is crucial for a continuous delivery model.
      </p>
      <p>
        My primary skills have been built on a solid foundation of Microsoft .Net C# for which I gained an MCAD Certification in 2007. In addition to this I have a great deal of experience with relational databases especially Oracle, SQL-Server and with non-relational databases such as MongoDB and Cosmos DB.
      </p>
    </div>
    <div class="col">
      <h2>Skills Summary</h2>
      <p>
      C# .Net Core 2.0 – 3.1 Azure micro-service driven architectures, Service Fabric, RESTful Service APIs, ASP.NET MVC, Razor, Angular, Typescript, HTML5, CSS3, Cosmos-DB, MongoDB, SQL Server, Oracle
      </p>
    </div>
  </div>
</div>
