<h1>Welcome</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>What is HuntleyWeb??   </h2>
      HuntleyWeb is an IT consultancy specialising in the design, architecture and implemenation of a variety of web based systems.
      <h2>Commercial Websites</h2>
      Affordable bespoke commercial websites are also available, please click <a routerLink="/contact" routerLinkActive="active" title="Click here to visit contact page!" href="#">here</a> to make contact.
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Jon Huntley - Contractor Summary</h2>
      Primarily a specialist in C# .net core, backend service development, with a extensive knowledge of web development with Angular and ASP.Net.
      <p>
        A wealth of experience with ServiceBus, RabbitMQ, Azure Functions, CosmosDB, MongoDB, SQL Server, Azure Search, EventGrid, Notification Hub, Azure Data Factory, APIM, RESTful API.
      </p>
      <p>
        An accomplished solutions architect, producing clear and concise design documentation and can communicate effectively with stakeholders and implementation staff.
      </p>
      <p>
        An effective team lead and experienced at leading off-shore teams in Europe. Lots of exposure to Agile delivery with JIRA, Peer Review with BitBucket, CI pipelines with Team City, Octopus and TerraForm.
      </p>
    </div>
    <div class="col">
      <h2>Current Contract Status</h2>
      Engaged with NewDay Credit Cards - London until <b>October 2021</b>
      <h3>Recent Engagements</h3>
      <ul>
        <li>Tunstall Healthcare - Hull</li>
        <li>NewDay Credit Cards - London</li>
        <li>Euromoney Institutional Investor - London</li>
      </ul>
      <h3>Contract Agency</h3>
      Gravitas Recruitment Group - London
    </div>
  </div>
</div>
