<h1>Links</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Recent Commercial Websites &amp; Testimonials</h2>
      <ul>
        <li>
          <div>
            <h3>Enabling Care Ltd</h3>
            <p>
              I would like to thank Jon of Huntley web design for the fantastic service that he has given To The Enabling Practice.
              <br>Jon has a really helpful approach and spent the time getting to know what our company was and what we wanted to achieve with our website.
              <br>He was able to talk about his expertise and what he could design while at the same time listening to exactly what we wanted in terms of detail even down to the tone of colour.
              Jon managed to design our website and get it to the top of Google search rankings within a very short time frame.
            </p>
            Sally Faulkner - <a href="http://www.enablingcare.co.uk" target="_blank" class="">visit website</a>
          </div>
        </li>
        <li>
          <h3>Hollybeck Garden Centre</h3>
          <p>
            I would definitely recommend Huntley Web Ltd to anyone who was looking to have their own website built.
          </p>
          Abbey Wickes - <a href="http://www.hollybeck.co.uk" target="_blank" class="">visit website</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <h2>Useful Links</h2>
      <ul>
        <li><a href="https://www.linkedin.com/in/jon-huntley-4223a82a/" target="_blank">LinkedIn Profile</a></li>
      </ul>
    </div>
    <div class="col">
      <h2>Technical Resources</h2>
      <ul>
        <li><a href="https://gravitas.backofficeportal.com/Login/Login.aspx" target="_blank">Gravitas Portal</a></li>
      </ul>
    </div>
  </div>


  </div>
