<div class="container">
  <div class="row justify-content-start">
    <div class="col-6">
      <a href="./content/home/" title="Click to go home!"><img src="assets/images/HuntleyWeb4.gif" width="336" height="80"/></a>
    </div>
    <div class="col-3">

    </div>
    <div class="col-3">
      <div class="right date">
        {{day}} - {{currentDate | date:'dd/MM/yyyy'}}
      </div>
    </div>
  </div>

  <div class="row dottedtop justify-content-start">
    <div class="col">
      <app-top-bar></app-top-bar>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row fix-footer align-items-start">
    <div class="col-8">
      <div class="left">Copyright &copy; {{anio}} HuntleyWeb&nbsp;-&nbsp;Company Number:<b>11636241</b><br>
        6 Hillside Drive<br>
        Southwell<br>
        Nottinghamshire<br>
        NG25 0JZ
      </div>
    </div>
    <div class="col-4 textright">
      <span style="font-size:large">Telephone: <b>07841057610</b></span>
    </div>
  </div>
</div>
