<h1>Commercial Websites</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Services Offered</h2>
      Bespoke commercial websites from simple brochureware company sites with features as listed below to full online trading systems.
      <h2>Commercial Broshureware Website - £250</h2>
      <ul>
        <li>Website design - done upfront with mock site so you can see what you're getting</li>
        <li>Contact Page - directed to selected email account/s</li>
        <li>Links Page</li>
        <li>Upto 5 content pages (additional pages added at £10 per page)</li>
        <li>Email domain setup (if required)</li>
        <li>Flexible fluid design compatible with mobile devices</li>
        <li>SEO - Search Engine Optimization - making sure your website appears at the top of the first page of Google's resultsets</li>
        <li>Web Hosting - £20/pcm</li>
        <li>Ongoing support and maintenance</li>
        </ul>
        <p>
          To find out more please contact me by completing the contact page <a routerLink="/contact" routerLinkActive="active" title="Click here to visit contact page!" href="#">here</a>.
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>A bit about myself</h2>
      I have been working in I.T. for over 20 years now and worked for a large utility company where I was initially hired to design and lead a team which handled all their web functions.
      <p>
         Since then I have worked on many projects involving a number of different technologies from mobile devices to large scale C.R.M. systems used in call centres.
      </p>
      <p>
      The message I'm trying to convey is that I understand the importance of scaleability, performance and good design which allows people to get to what they want intuitively and in a timely fashion.
      </p>
    </div>
    <div class="col">
      <h2>What am I offering?</h2>
      I'm offering people a good level of service which doesn't cost the Earth and one where we're in it for the duration.
      <p>
      What I mean by that is that the initial delivery of your website isn't likely to be the end of things.
      </p>
      <p>
      When you get a new system it's enivitable that you will think of additional features and changes, we'll also be continuously improving our systems and making new functionality available.
      </p>
      <p>
      We're in it for the long term and when you get a website with us you get a platform on which you can add more features as and when your business grows.
      </p>
      <p>
      There'll be no technical blurb for you to digest everything is explained in plain English and we can take care of everything from domain name registration to hosting and also of course the design, development, delivery and maintenance of your website.
      </p>
    </div>
  </div>
</div>

